# CRITICAL:
.env

# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
.venv/

# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# OS / IDE / System
# =========================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# PyCharm / JetBrains
.idea/